---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';



export interface Props {
  title: string;
  description?: string;
}



const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site
).toString();

const { title, description } = Astro.props;

const makeTitle = title
  ? title + " | " + "Calamus Nursery"
  : "Huge harvests everytime";


  const makeDescription = description
  ? description
  : "Default description for Calamus Nursery";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/calamusfavicon.svg" />
    <meta name="generator" content={Astro.generator} />



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">




    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={makeDescription}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Calamus Nursery - Premier teen and clone plants.`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Calamus Nursery Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
